{
  "remote_install": false,
  "org": "<change me>",
  "domain": "<change me>",
  "data_dir": "/var/lib/lbdock",
  "config_dir": "/etc/lbdock",
  "nginx_dir": "/etc/lbdock/conf/nginx",
  "prometheus_dir": "/etc/lbdock/conf/prometheus",
  "unit_dir": ["/etc/lbdock/units"],
  "docker_bridge_ip": "172.17.0.1",
  "owner_group": "users",
  "letsencrypt": false,
  "nginx_lua_auth": false,
  "git_allow_registration": true,
  "git_mail_address": "<change me>",
  "git_mail_host": "<change me>",
  "git_mail_user": "<change me>",
  "git_mail_passwd": "<change me>",
  "git_secret_key": "<change me>",
  "grafana_secret_key": "<change me>",
  "registry_redis": false,
  "registry_s3": false,
  "registry_s3_access_key": "<change me>",
  "registry_s3_secret_key": "<change me>",
  "registry_s3_region": "<change me>",
  "registry_s3_bucket": "<change me>",
  "dnsdock_url": "http://dnsdock.<change me>/services",
  "drone_url": "http://drone.<change me>",
  "drone_user": "drone",
  "drone_token": "<change me>",
  "redis_host": "<change me>",
  "redis_port": 6379
}
