[Unit]
Description=Gogs
After=docker.service dnsdock.service

[Service]
Restart=on-failure
TimeoutStartSec=0
Environment="DOCKER_IMAGE=crisidev/gogs:0.9.71"
Environment="DOCKER_NAME=git"
Environment="DOCKER_PORT=80"
Environment="DNSDOCK_ENV=prod"
Environment="DNSDOCK_PROXY={\"https\":5000,\"tcp\":22}"
ExecStartPre=-/usr/bin/docker kill ${DOCKER_NAME}
ExecStartPre=-/usr/bin/docker rm ${DOCKER_NAME}
ExecStartPre=/usr/bin/docker pull ${DOCKER_IMAGE}
ExecStart=/usr/bin/docker run --rm --name ${DOCKER_NAME} --expose ${DOCKER_PORT} \
  -e DNSDOCK_PROXY=${DNSDOCK_PROXY} -e DNSDOCK_IMAGE=${DOCKER_NAME} -e DNSDOCK_ENV=${DNSDOCK_ENV} \
  -v {{ config.field('data_dir') }}/${DOCKER_NAME}:/data -v {{ config.field('config_dir') }}/conf/${DOCKER_NAME}:/conf \
  -v /etc:/rootetc -e RUN_CROND=true -e LETSENCRYPT={{ config.field('letsencrypt') }} -e DOMAIN={{ config.field('domain') }} ${DOCKER_IMAGE}
ExecStop=/usr/bin/docker stop ${DOCKER_NAME}

[Install]
WantedBy=multi-user.target
